[phases.setup]
nixPkgs = ["nodejs"]

[phases.install]
cmds = [
  "corepack enable",
  "corepack prepare yarn@4.10.3 --activate",
  "yarn install --immutable"
]

[phases.build]
cmds = [
  "yarn workspace api prisma generate",
  "yarn workspace api build"
]

[start]
cmd = "yarn workspace api prisma db push --accept-data-loss --skip-generate && node apps/api/dist/main.js"
