[phases.setup]
nixPkgs = ["nodejs", "yarn"]

[phases.install]
cmds = ["yarn install --frozen-lockfile"]

[phases.build]
cmds = [
  "yarn workspace api prisma generate",
  "yarn workspace api build"
]

[start]
cmd = "yarn workspace api prisma db push --accept-data-loss --skip-generate && node apps/api/dist/main.js"
