[phases.setup]
nixPkgs = ["nodejs", "npm"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build", "npx prisma generate --schema=apps/api/prisma/schema.prisma"]

[start]
cmd = "npx prisma db push --schema=apps/api/prisma/schema.prisma --accept-data-loss --skip-generate && node apps/api/dist/main.js"
