[phases.setup]
nixPkgs = ["nodejs", "npm"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build", "npx prisma generate"]

[start]
cmd = "npx prisma migrate resolve --rolled-back 20250118_add_debe_cambiar_password && npx prisma migrate deploy && node dist/main.js"
